
{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>
        <tbody>
        {% for term in terms %}
          <tr>
            <td>{{term.term_name}}</td>
            <td>{{term.term_category}}</td>
            <td>{{term.term_definition}}</td>
            <td>{{term.term_origin}}</td>
          </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}
