
{% extends 'base.html' %}
{% block content %}

    <table class="highlight centered responsive-table">
        <thead>
          <tr>
              <th>Term, Phrase or Idea</th>
              <th>Category</th>
              <th>Definition</th>
              <th>Origin</th>
          </tr>
        </thead>
        <tbody>
        {% for term in terms %}
          <tr>
            <td>{{term.term_name}}</td>
            <td>{{term.term_category}}</td>
            <td>{{term.term_definition}}</td>
            <td>{{term.term_origin}}</td>
          </tr>
         {% endfor %}
        </tbody>
    </table>

{% endblock %}
